.cards1{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.title1, .title2, .title3{
    max-width: 20rem;
}

li{
    list-style-type: none;
}